<h1 style="padding-bottom:10px">Research</h1>
Our research interests span different sub-fields of metamaterials and nanophotonics. Click on the links to learn more.
<ul>
    <li>
        <a href="/research/optical_metamaterials_for_spatiotemporal_and_reconfigurable_analog_computation" >Optical Metamaterials for Spatio-Temporal and Reconfigurable Analog Computation</a>
    </li>
    <li>
        <a href="/research/nonlinear_metamaterials" >Nonlinear Metamaterials</a>
    </li>
    <li>
        <a href="/research/nanoscale_control_light_emission" >Nanoscale Control of Light Emission</a>
    </li>
    <li>
        <a href="/research/quantum_nanophotonics" >Theoretical Quantum Nanophotonics</a>
    </li>
    <!--
    <li>
    <a href="#emissioncontrol" >Nanoscale Control of Light Emission</a>
    </li>
    <li>
    <a href="#quantumnanophotonics" >Quantum Nanophotonics</a>
    </li>
    -->
</ul>